#!/bin/bash

# by matthias.mengel@pik-potsdam.de ######
######
WORKDIR=/p/tmp/$USER/pismOut
EXPDIR=/home/$USER/pismExperiments
######
RUNNAME=`echo $PWD | awk -F/ '{print $NF}'`
echo $RUNNAME
OUTDIR=$WORKDIR/$RUNNAME
echo $OUTDIR

latest_snap=`ls -tr $OUTDIR/extra-* | tail -1 | awk -F/ '{print $NF}'`
echo latest snapshot is $latest_snap

# save timeseries file
year=`echo $latest_snap | awk -F- '{print $NF}'`
echo $year

# copy backup to restart
rsync -aCv $OUTDIR/out_backup.nc $OUTDIR/out_restart_$year
# set restart flag to true
sed -i 's/restart=false.*/restart=true/g' runPism.sh

# write newest restart to runPism
sed -i 's/.*out_restart_.*/'inputfile=out_restart_$year/g runPism.sh

# save timeseries file
rsync -aCv $OUTDIR/timeseries.nc $OUTDIR/timeseries_$year


