#!/bin/bash

# set computer and user specific variables,
# this is sourced from the pism run script, so that
# the pism run script can be shared without effort.

# created by matthias.mengel@pik-potsdam.de

export home_dir="/home/hpc/pr94ga/di36lav/"
export working_dir="/gpfs/work/pr94ga/di36lav/pism_out/"
export input_data_dir="/gpfs/work/pr94ga/di36lav/pism_input_files/20160928_PocamInputData"

export PISM_MPIDO="mpiexec -n"

